.widgetLg {
  flex: 1;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.widgetLgTitle {
  font-size: 15px;
  font-weight: 400;
}

.widgetLgTable {
 
  border-spacing: 10px;
  text-align: center;
}

.widgetLgTh {
  text-align: left;
}

.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.widgetLgDate,
.widgetLgAmount {
  font-weight: 100;
}

.widgetLgButton {
  padding: 3px 5px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Aprovado {
  background-color: #e5faf2;
  color: #3bb077;
}
.widgetLgButton.Analise {
  background-color: #fff0f1;
  color: #d95087;
}
.widgetLgButton.Pendente {
  background-color: #ebf1fe;
  color: #2a7ade;
}
.widgetLgButton.Canselado {
  background-color: #ebf1fe;
  color: #d2de2a;
}

.widgetLgButton.Negado {
  background-color: #ebf1fe;
  color: #de2a33;
}
