.container{
    flex: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
   

}

.containerPacotes{
    flex: 1;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-between;
    padding: 10px;
  
    
}


.pacote{
 background-color: #7392B7;
 flex: 1;
 padding: 10px;
 margin: 10px;
 box-shadow: 20px 15px 15px black;
 justify-content: center;
flex-direction: column;
align-items: center;
 display: flex;
}

.containerImagem{
    width: 280px;
    height: 200px;
    margin: 10px;
    position: relative;
   
}

.img {
width: 100%;
height: 150px;

}

.containerInfo{
    margin-top: 45px;
    margin-bottom: 45px;
    flex-direction: column;
    display: flex;
    padding: 10px;
    text-align: left;
}

.titulo{
    margin-bottom: 12px;
    font-size: 18px;
    size: 15px;
    text-align: center;
    
}

.preco{
    margin-bottom: 12px;
    font-size: 15px;
    size: 15px;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}


.descricao{
  
    font-size: 12px;
    size: 15px;
    margin-bottom: 10px;
}

.descricao>h4{
    margin-top: 10px;
}
.descricao>ul{
    margin-top: 10px;

}

.descricao>ul>li{
   font-weight: bolder;
    
}


.butao{
    padding: 15px 50px;
    border-radius: 15px;
    margin-bottom: 18px;
    background-color: rgb(241, 159, 7);
    
}

.inf{
    padding: 10px;
    margin: 20px;
    font-size: 12px;
    size: 15px;
    font-weight: bolder;
}


.circulo{
   
    top: 0px;
    width: 100px;
    height: 80px;
    border: solid orange;
    border-radius: 50%;
    display: flex;

    justify-content: center;
  
}

.circulo>h5{
    margin-top: 30px;
    margin-left: 5px;
}

.nomeLoja{
    margin-left: 25px;
    font-size: 15px;
    size: 50px;
}