.confirEmail {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 150px 10px;
}
.confirEmail > span {
  margin-top: 25px;
  font-size: 20px;
}

.confirEmail > button {
  width: 50%;
  padding: 10px 50px;
  margin-top: 25px;
  background-color: #dbf227;
}

.confirEmail > form > button {
  width: 100%;
  padding: 10px 50px;
  margin-top: 25px;
  background-color: #dbf227;
}

@media only screen and (max-width: 725px) {
  .confirEmail > span {
    margin-top: 25px;
    font-size: 15px;
  }

  .confirEmail > h1 {
    size: 10px;
    font-size: 20px;
  }

  .confirEmail > button {
    width: 100%;
    padding: 10px 50px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 664px) {
  .confirEmail > span {
    margin-top: 25px;
    font-size: 15px;
  }

  .confirEmail > h1 {
    size: 10px;
    font-size: 20px;
  }
}

.confirEmail > input {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}

.confirEmail > form > input {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
}

.confirEmail > form {
  width: 50%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
