html{
  scroll-behavior: smooth;
}

.principal {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;

}

.menuSobreL {
  text-align: center;
  margin-bottom: 30px;


}

.menuSobreL ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

}

.menuSobreL li {
  list-style: none;
  padding: 20px;
}

.menuSobreL li>a {
  text-decoration: none;
  color: gray;
}

.sobreOvandjaL {
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.sobreOvandja {
  margin-bottom: 25px;

}


.sobreOvandja h1 {
  margin-bottom: 20px;
}

.sobreOvandja h3 {
  margin-bottom: 20px;
}

.conteudo {
  padding: 50px;

}